/* Mobile Styles */

/* Adjust font sizes for smaller screens */
h1, h2, h3 {
  font-size: 24px;
}

/* Modify container width to occupy full width on smaller screens */
.container {
  width: 100%;
}

/* Adjust button styles for smaller screens */
button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px purple;
}

/* Adjust body styles for smaller screens */
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
